@use "../../../styles/variables/color";

.flexResponsiveContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  color: color.$primary-color;
  font-family: "Exo 2", sans-serif;
}
.dark {
  background-color: color.$background-color-dark;
}
.light {
  background-color: color.$background-color-light;
}
@media (max-width: 768px) {
  .flexResponsiveContainer {
    flex-direction: column;
    padding: 1rem;
  }
}
