@import "@styles/variables";
@import "@styles/mixins";

.button {
  @include button-style(
    transparent,
    $primary-color,
    $p-md,
    $border-radius,
    "Exo 2"
  );
  border-radius: 0%;
  &:hover {
    box-shadow: 0 3px 0px $text-color;
    color: $text-color;
    transition: all 0.2s ease;
  }
  h3 {
    font-size: $p-xl;
    font-weight: 600;
  }
  padding: 7px;
  min-width: 100px;
}
