$primary-color: #ffb400;
$secondary-color: #8c8c8c;
$success-color: #4caf50;
$error-color: #f44336;
$scrollbutton-color: #2a2a2a;
$text-color: #e6e6e6;
$background-color: #121212;
$background-color-light: rgb(24, 24, 24);
