@import "@styles/variables";
@import "@styles/mixins";

.button {
  @include button-style($scrollbutton-color, black, $p-sm);
  font-family: "Material Symbols Outlined";
  &:hover {
    background-color: rgb(179, 179, 179);
    color: $scrollbutton-color;
  }
  span {
    font-size: $p-lg;
    font-weight: 700;
  }
  min-width: 50px;
  min-height: 150px;
}
